# Compiled/cached Python
__pycache__/
*.py[cod]
*$py.class

# Temporaries
.ipynb_checkpoints/
*.swp

# Outputs
*.svg
*.eps
*.out
*.mat
*.bmp
*.ckpt
# Model and other data
*.pth
*.npy
.idea
*.DS_Store

lightning_logs/
Jones_2004.csv
Shedden_2008.csv
Botling_2013.csv